.footer {
    padding: 0 0 25px;

    @include breakpoint (md) {
        padding: 0 25px;
        font-size: 15px;
    }

    .last-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include breakpoint (md) {
            justify-content: center;
        }

        
    }

    .powered-holder {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
    }

    .powered {
        margin-right: 5px;
    }

    .src-img {
        width: 70px;
    }

    .standart-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .text-link {
        color: $orange;
    }

    .standart-item {
        list-style: none;        
        color: $orange;

       
        &:after {
            content: '';
            color: #4B4136;
            width: 4px;
            height: 25px;
            float: left;
        }
    }
}