.img-python {
    min-height: 500px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;

    @include breakpoint ("xs") {
        background-size: 170%;
    }

   
}