.intro {
    min-height: 602px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    

    
    .container {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .text-holder {
        max-width: 869px;
        text-align: center;
        
    }
    
    .pseudo-title {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $orange;
        margin-bottom: 15px;

        @include breakpoint ("xs") {
            font-size: 10px;
            line-height: 18px;
        }
    }

    .intro-title {
        font-weight: 400;
        font-size: 70px;
        line-height: 80px;
        letter-spacing: 1px;
        color: $white;
        margin-bottom: 35px;

        @include breakpoint (md) {
           font-size: 40px;
           line-height: 50px;
        }

        @include breakpoint (xs) {
            font-size: 35px;
           line-height: 45px;
        }
    }

    .orange {
        color: $black;
        padding: 14px 24px;
        background-color: $orange;
        display: inline-block;
        font-size: 11px;
        line-height: 22px;

        @include breakpoint (xs) {
            padding: 12px 22px;
        }
    }

}



