.services {
    padding: 120px 0 120px;

    @include breakpoint (xs) {
        padding: 60px 0 600px;
    }
    


    .services-text-holder {
        text-align: center;
    }

    .pseudo-title {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 2px;
        color: $grey;
        margin-bottom: 10px;
    }

    .services-title {
        font-size: 60px;
        line-height: 70px;
        color: $orange;
        margin-bottom: 60px;

        @include breakpoint (md) {
            font-size: 50px;
            line-height: 60px;
        }

        @include breakpoint (xs) {
            font-size: 40px;
            line-height: 50px;
        }
    }

    .services-design {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include breakpoint (md) {
            width: 50%;
            margin: 0 auto;
        }

        @include breakpoint (xs) {
            width: 100%;
            flex-direction: column;
        }
        

    }

    .services-colum {
        padding: 61px;
        border: 1px solid #4B4136
    }

    .services-img {
        max-width: 46px;
        margin-bottom: 20px;
    }

    .colum-title {
        font-size: 29px;
        line-height: 40px;
        color: $orange;
        margin-bottom: 10px;

        @include breakpoint (xss) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    .sub-title {
        font-size: 15px;
        line-height: 26px;
        color: $grey;
    }

    .colum-text {
        font-size: 11px;
        line-height: 26px;
        color: $grey;
    }

    
}