.template-pages {
    padding: 120px 0 121px;

    .text-holder {
        margin-bottom: 60px;
        text-align: center;
    }

    .pseudo-title {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $grey;
        margin-bottom: 10px;

        @include breakpoint (xs) {
            font-size: 10px;
            line-height: 20px;
        }
        
    }

    .template-title {
        font-size: 60px;
        line-height: 70px;
        color: $orange;

        @include breakpoint (md) {
            font-size: 50px;
            line-height: 60px;
        }

        @include breakpoint (xxs) {
            font-size: 40px;
            line-height: 50px;
        }
    }

    .blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        
        
    }

    .block-pages {
        width: calc(100% / 3);
        padding-right: 20px;
        margin-bottom: 10px;

        @include breakpoint (md) {
            width: calc(100% / 2);
            

            &:last-child {
                margin: 0 auto;
            }
        }

        @include breakpoint (xs) {
            width: 100%;
            padding-right: 0px;

        }
        
    }

    .card {
        border: 1px solid #4B4136;
        padding: 41px;
       /* margin: 0 6px 6px 0;*/

        &:nth-child(3n) {
            margin-right: -6px;
        }
        
    }

    .subtitle {
        text-align: center;
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $white;
    }
    
    
}